build/
logs/
.Xil/
xsim.dir/
__pycache__/
*.pyc
*.jou
*.log
*.pb
*.pid
*.dmp
hs_err_pid*
clockInfo.txt

# Xilinx/Vivado generated scratch
2023.2/
strategies/
reportstrategies/
bv/
*.cache/
*.gen/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/
*.xpr

!release/
!release/**
!archive/
!archive/**
